header {
    background: #2F8F9D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    text-align: center;
}

nav {
    background: #3BACB6;
    color: aliceblue;
}

section {
    background: #82DBD8;
    color: aliceblue;
    grid-column: 1/4;
    margin: 10px;
}

aside {
    background: #B3E8E5;
    grid-column: 4/5;
    margin: 10px;
    align-content: center;

}

footer {
    background: #2F8F9D;
    text-align: center;
    color: aliceblue;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}